- content_for :title do
  Welcome to Fighters!
%h2
  All Fighters
%p
  = "#{pluralize(Fighter.count,'fighters')} as of #{Time.now.strftime("%b %d, %Y")}"
.fighters
  = fighters_list(@fighters)
