- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the Fighter Ships application.
  %p Here you can choose from the many wonderful fighters we've dreamed up and lifted from various Sci-fi shows.
#sidebar
  %p sidebar
