- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the Fighter Ships application.
  %p This is where fighter ships are born. Once a fighter has been designed here, it can be used in the creation of a fleet in the members area.
#sidebar
  %p sidebar
